<!-- Header -->
<section id="header">
    <header>
        <span class="image avatar"><img src="assets/images/me-hlf.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">Max Leiserson</a></h1>
        <p>
            Post-Doc @ <a href='http://research.microsoft.com/en-us/labs/newengland/' targe='_new'>MSR-NE</a><br/>
            Faculty @ <a href='http://www.cs.umd.edu/' target='_new'>UMD CS</a> (August 2017)<br/>
        </p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#about" class="active">About</a></li>
            <li><a href="#events">Talks & Events</a></li>
            <li><a href="#research">Research</a></li>
            <li><a href="#publications">Publications</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><i class="fa fa-envelope"></i> Email: <a href="mailto:mleise@microsoft.com">mleise@microsoft.com</a></li>
            <li><i class="fa fa-map-marker"></i> Address: <a href="https://goo.gl/maps/7fnFLqMa22B2" target="_new">One Memorial Drive</a></li>
        </ul>
        <ul class="icons">
            <li><a href="https://github.com/{{ site.github_username }}" target="_new" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="http://stackoverflow.com/users/2831353/mdml" target="_new" class="icon fa-stack-overflow"><span class="label">Stack Overflow</span></a></li>
            <li><a href="https://twitter.com/{{ site.twitter_username }}" target='_new' class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="http://scholar.google.com/citations?user=fq0DzqoAAAAJ&hl=en&oi=ao" target="_new" class="icon fa-graduation-cap" aria-hidden="true"><span class="label">Google Scholar</span></a>
        </ul>
    </footer>
</section>
